@font-face {
    font-family: 'Libre Baskerville';
    src: url('/Libre_Baskerville/LibreBaskerville-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('/Libre_Baskerville/LibreBaskerville-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('/Anonymous_Pro/AnonymousPro-Regular.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('/Anonymous_Pro/AnonymousPro-Italic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('/Anonymous_Pro/AnonymousPro-Bold.ttf') format('truetype');
    font-weight: 100 900;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Anonymous Pro';
    src: url('/Anonymous_Pro/AnonymousPro-BoldItalic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: bolditalic;
    font-display: swap;
}

:root {
    /* --color-bg: #cdcdcd; */
    /* --color-bg: #dcdcdc; */
    --color-bg: #eaeaea;
    --color-text-primary: #1c1c1c;
    --color-text-secondary: #313131;
    --color-text-tertiary: #545454;
    --color-link: #199cf3;

    --font-main: 'Libre Baskerville', Georgia, serif;
    --font-code: 'Anonymous Pro', monospace;

    --cursor-pointer: pointer;
    --cusrsor-default: default;

    /* --transition-duration: 1s; */
    /* --transition-duration: .125s; */
    /* --transition-one: var(--transition-duration) cubic-bezier(.74,.27,.34,1.25);  */
    --transition-one: .2345s cubic-bezier(.5,-0.36,0,1.27); 

    --font-size-main: 1rem;

    /* --breakpoint-two: 1200px; */
}

@custom-media --breakpoint-two (min-width: 1200px); /* WHY NOT FUNCTIONING ? */

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    background-color: var(--a-background-color);
    color: var(--a-color);
}

body {
    &[data-theme="dark"] {
        --color-bg: green;
    }
    &[data-theme="light"] { 
        --color-bg: yellow;
    }
    &[data-theme="catpucchino"] {
        --color-bg: red;
    }
    &[data-theme="dracula"] {
        --color-bg: blue;
    }

    /* background-color: var(--bg-color);
    color: var(--text-color) */
    --a-background-color: var(--color-bg);
    --a-color: var(--color-text-primary);
    cursor: var(--cusrsor-default);

    ::selection {
        background-color: var(--a-color);
        color: var(--a-background-color);
    }

    font-size: var(--font-size-main);
    /* max-width: 1234px; */
    max-width: 999px;
    width: 90%;
    margin: 0 auto;
    font-family: var(--font-main);

    section {
        &#hero {
            margin-top: 5dvh;
            min-height: 21dvh;
            
            --some-variable: 5.5rem;
            margin-bottom: calc(var(--some-variable) * 2);

            .some-container {
                /* display: flex; */
                
                /* h3 {
                    --x: 0;
                    --x-base: 3rem;
                    transform: translateX(calc(var(--x) + var(--x-base)));
                    &:nth-child(1) {
                        --x: 1rem;
                    }
                    &:nth-child(2) {
                        --x: 2rem;
                    }
                    &:nth-child(3) {
                        --x: 4rem;
                    }
                    &:nth-child(4) {
                        --x: 8rem;
                    }
                }*/

                /*height: 100%; /* should have been 100% of left height ofd section ... */

                position: relative;
                .img-container {
                    --transition-duration: .125s;

                    transition: all var(--transition-one);

                    display: flex;
                    flex-direction: column;

                    position: absolute;
                    /* right: 7.5rem; */
                    right: 5.75;
                    bottom: calc(-1 * var(--some-variable));
                    align-items: flex-end;

                    img.me {
                        transition: all var(--transition-one);
                        position: absolute;
                        border: 1px solid var(--color-text-tertiary);
                        /* width: 14vw; */
                        /* width: clamp(9vw, 350px, 20vw); */
                        height: clamp(15dvh, 360px, 50dvh);
                        right: 0;
                        bottom: 1.1rem;
                        border-radius: 24px;
                        corner-shape: squircle;
                    }

                    .copyright-note {
                        --a-color:var(--color-text-tertiary);
                        font-size: .8rem;
                        margin-top: .5rem;
                        /* right: 1rem; */
                        text-align: start;
                        padding-inline-end: 32px;
                    }

                    /* @media(min-width: var(--breakpoint-two)) { */
                    /* @media (--breakpoint-two) { */
                    @media(min-width: 1200px) {
                        transform: translateY(5rem) rotate(6.789deg);
                        &:hover {
                            transform: translateY(5.1rem) rotate(4deg) scale(1.025);
                            img.me {
                                border-radius: 12px;
                            }
                        }
                    }
                }

                &::after {
                    position: absolute;
                    content: "...";
                    /* color: red; */
                    /* color: var(--color-text-secondary); */
                    color: var(--color-text-tertiary);
                    opacity: .6;
                    font-size: 8rem;
                    /* align-self: center; */
                    left: 50%;
                    translate: -50% 0;
                    /* rotate: --r; */
                    animation: rot-ate;

                    /* @keyframes rot-ate {
                        /* 0%,100% {
                            --r: 0deg;
                        } *//*
                        33% {
                            --r: 5deg;
                        }

                        67% {
                            --r: -5deg;
                        }*/
                    animation: rot-ate 2s ease-in-out infinite; 


                    transform-origin : center bottom; /* ToDo: set this the exact way ... */
                }

                /* @keyframes rot-ate {
                    0%, 100% {
                        rotate: 0deg;
                    }
                    33% {
                        rotate: 5deg;
                    }
                    67% {
                        rotate: -5deg;
                    }
                } */
            }

            h1 {
                font-size: 3.03rem;
            }

            h2 {
                /* color: var(--color-text-secondary); */
                --a-color:var(--color-text-tertiary);
                font-size: 1.8rem;
            }

            h3 {
                --a-color:var(--color-text-secondary);
                font-size: 1.348rem;
                transform: translateX(1rem);
                position: relative; 

                /* &::before {
                    content: "·";
                    color: var(--color-text-secondary);
                    font-size: 3rem;
                    position: absolute; 
                    
                    left: -10px; 
                    top: 50%;
                    transform: translateY(-50%);
                } */
            }
        }

        a {
            --a-color: var(--color-link);
            text-decoration: none;
            position: relative;
            cursor: var(--cursor-pointer);

            &::before {
                content: "";
                position: absolute;
                bottom: 2px;
                left: 0;
                /* width: 101%; */
                width: 0;
                height: 2px;
                background-color:var(--color-link); /* ::select ... ? */

                /* transform: scaleX(0); */
                transform-origin: left center;
                transition: transform .2s ease-out, width .2s ease-out;
            }

            &:hover {
                &::before {
                    /* transform: scaleX(1); */
                    width: 101%;
                }
            }

            
            &[data-has-arrow=true] {
                /* padding-right: 2rem; */
                margin-right: 2rem; /* FIXED: moved inside ... (broke some UI when it was outside ...) ... */

                /* color: red; */
                
                &::after {
                    content: ""; 
                    position: absolute;
                    /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3Cpath d='m12 5 7 7-7 7'/%3E%3C/svg%3E"); */

                    /* background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain; */

                    height: var(--font-size-main);
                    width: 1rem;
                    bottom: 2px;

                    transition: var(--transition-one);

                    background-color: var(--color-link);

                    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3Cpath d='m12 5 7 7-7 7'/%3E%3C/svg%3E");
                    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M5 12h14'/%3E%3Cpath d='m12 5 7 7-7 7'/%3E%3C/svg%3E");

                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-position: center;
                    mask-position: center;
                    -webkit-mask-size: contain;
                    mask-size: contain;
                }

                &:hover {
                    &::after {
                        transform: translateX(.35rem);
                    }
                }
            }
        }

        &#homelab {
            ul.tech-list {
                /* ToOd: make this more like aI actually want it ... */
                display: grid;
                list-style: none;
                li {
                    display: flex;
                    flex-direction: column;
                    .name {
                    }
    
                    .comment { /* more like a "note" */
                    }

                    img {
                        &.tech-logo {
                            /* width: 512px; */
                            width: 90px;
                            height: auto;
                            /* height: 120px;
                            width: auto;
                            aspect-ratio: 1/1; */
                        }
                    }

                    border: 2px solid black;
                }
            }
        }

        ul {
            transform: translateX(2rem);
        }

       
        /* &:not(&::nth-child(1)) {*/
        &:not(:first-child) {
            margin-top: 3rem;
        }
    }

    footer {
        /* @media(min-width: var(--breakpoint-two)) { */
        /* @media (--breakpoint-two) { */
        @media(min-width: 1200px) {
            margin-inline: 10vw;
        }


        /* not getting applied anyhow */
        background-color: var(--color-text-secondary);
        color: var(--color-bg);
    }

}

.font-code {
    font-family: var(--font-code);
}

@keyframes rot-ate {
    /* 0%, 100% {
        rotate: 0deg;
    }
    33% {
        rotate: 5deg;
    }
    67% {
        rotate: -5deg;
    } */
    0%, 100% {
        rotate: 5deg;
    }
    50% {
        rotate: -5deg;
    }
}