@font-face {
    font-family: 'Libre Baskerville';
    src: url('/Libre_Baskerville/LibreBaskerville-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('/Libre_Baskerville/LibreBaskerville-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

:root {
    /* --color-bg: #cdcdcd; */
    /* --color-bg: #dcdcdc; */
    --color-bg: #eaeaea;
    --color-text: #1c1c1c;
    --color-link: #199cf3;

    --font-main: 'Libre Baskerville', Georgia, serif;
    --font-code: ;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    /* background-color: var(--bg-color);
    color: var(--text-color) */
    background-color: var(--color-bg);
    color: var(--color-text);
    max-width: 1234px;
    width: 90%;
    margin: 0 auto;
    font-family: var(--font-main);

    section {
        &#hero {
            min-height: 45dvh;
        }

        a {
            color: var(--color-link);
        }
    }
}

.font-code {
    font-family: var(--font-code);
}